beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
dbus-python==1.2.16
distro==1.9.0
dnspython==2.0.0
dotenv==0.9.9
future==1.0.0
google==3.0.0
idna==3.10
influxdb-client==1.48.0
iso8601==2.1.0
pbd==0.9
ping3==4.0.8
psutil==6.1.1
pycurl==7.43.0.6
PyGObject==3.38.0
pyserial==3.5
python-apt==2.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-periphery==2.1.0
PyYAML==6.0.2
reactivex==4.0.4
requests==2.32.3
six==1.17.0
smbus==1.1.post2
soupsieve==2.6
typing-extensions==4.12.2
urllib3==2.3.0
